{% extends 'base.html.twig' %}
{% from 'group/macros.html.twig' import validate %}
{% form_theme form 'group/form_errors.html.twig' %}

{% block title %}
    {% trans %}
        Profile
    {% endtrans %}
{% endblock %}

{% block body %}
    <a class="btn blue darken-3 back-button" href="{{ path('profile.view') }}">
        <i class="material-icons">
            arrow_back
        </i>
        <span class="back-button__text">
            {% trans %}Back{% endtrans %}
        </span>
    </a>
    <h2 class="page-title center-align">
        {% trans %}Change password{% endtrans %}
    </h2>
    <div class="form small-container">
        {{ form_start(form) }}
        <div class="form__section">
            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(form.oldPassword) }}
                    {{ validate(form.oldPassword, '') }}
                    {{ form_errors(form.oldPassword) }}
                </div>
                <div class="input-field col s12">
                    {{ form_label(form.password.first) }}
                    {{ validate(form.password.first, '') }}
                    {{ form_errors(form.password.first) }}
                </div>
                <div class="input-field col s12">
                    {{ form_label(form.password.second) }}
                    {{ validate(form.password.second, '') }}
                    {{ form_errors(form.password.second) }}
                </div>
            </div>
        </div>
        <div class="form__submit-button">
            {{ form_widget(form.save, {'attr': {'class': 'btn-large blue darken-3'} }) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}