<div class="row filter">
    <form name="form">
        <div class="input-field filter__search col l6 s12">
            <i class="material-icons prefix">search</i>
            <label class="filter__search__label" for="search">
                {% trans %}Search by name or surname{% endtrans %}
            </label>
            <input class="validate" id="search" value="{{ app.request.query.get('key') }}" type="search" name="key" autocomplete="off">
        </div>
        <div class="input-field col l6 s12 filter__sort">
            <i class="material-icons prefix">
                filter_list
            </i>
            <select>
                {{ knp_pagination_sortable(users, 'By ID descending'|trans({}, 'messages'), 'u.id', {'selected': 'selected'}, {'direction': 'desc'}) }}
                {{ knp_pagination_sortable(users, 'By ID ascending'|trans({}, 'messages'), 'u.id', {}, {'direction': 'asc'}) }}
                {{ knp_pagination_sortable(users, 'By name descending'|trans({}, 'messages'), 'u.name', {}, {'direction': 'desc'}) }}
                {{ knp_pagination_sortable(users, 'By name ascending'|trans({}, 'messages'), 'u.name', {}, {'direction': 'asc'}) }}
                {{ knp_pagination_sortable(users, 'By surname descending'|trans({}, 'messages'), 'u.surname', {}, {'direction': 'desc'}) }}
                {{ knp_pagination_sortable(users, 'By surname ascending'|trans({}, 'messages'), 'u.surname', {}, {'direction': 'asc'}) }}
            </select>
            <label>{% trans %}Sort by{% endtrans %}</label>
        </div>
        {% if search_path == 'profile.staff.search' %}
            <div class="filter__role input-filed col s12">
                {{ knp_pagination_filter(users, {'u.roles': 'Roles'}) }}
            </div>
        {% endif %}
        <input class="filter__submit-button btn--action btn blue darken-3 right"
               value="{% trans %}Submit{% endtrans %}"
               type="submit"
        >
    </form>
</div>