{% macro userForm(form, create) %}
    {% from 'group/macros.html.twig' import validate %}
    {% form_theme form 'group/form_errors.html.twig' %}
    <div class="form">
        {{ form_start(form) }}
        {{ form_row(form._token) }}
        <div class="form__section">
            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(form.user.name) }}
                    {{ validate(form.user.name, '') }}
                    {{ form_errors(form.user.name) }}
                </div>
                <div class="input-field col s12">
                    {{ form_label(form.user.surname) }}
                    {{ validate(form.user.surname, '') }}
                    {{ form_errors(form.user.surname) }}
                </div>
                <div class="input-field col s12">
                    {{ form_label(form.user.username) }}
                    {{ validate(form.user.username, '') }}
                    {{ form_errors(form.user.username) }}
                </div>
                {% if create == true %}
                    <div class="input-field col s12">
                        {{ form_label(form.user.password) }}
                        {{ validate(form.user.password, '') }}
                        {{ form_errors(form.user.password) }}
                    </div>
                    <div class="input-field col s12">
                        <div class="row">
                            {{ form_label(form.role) }}
                            {{ validate(form.role, '') }}
                            {{ form_errors(form.role) }}
                        </div>
                    </div>
                {% endif %}
                <div class="input-field col s12">
                    {{ form_widget(form.user.region) }}
                    {{ form_label(form.user.region) }}
                    {{ form_errors(form.user.region) }}
                </div>
                <div class="input-field col s12">
                    {{ form_widget(form.user.livingAreaType) }}
                    {{ form_label(form.user.livingAreaType) }}
                    {{ form_errors(form.user.livingAreaType) }}
                </div>
                <div class="input-field col s12">
                    {{ form_label(form.user.address) }}
                    {{ form_widget(form.user.address, {'attr': {'class': 'validate'}}) }}
                    {{ form_errors(form.user.address) }}
                </div>
                <div class="input-field col s12">
                    {{ form_label(form.user.email) }}
                    {{ validate(form.user.email, '') }}
                    {{ form_errors(form.user.email) }}
                </div>
                <div class="input-field col s12">
                    {{ form_label(form.user.birthDate) }}
                    {{ form_widget(form.user.birthDate, {'attr': {'class': 'validate datepicker'}}) }}
                    {{ form_errors(form.user.birthDate) }}
                </div>
                <div class="input-field col s12">
                    {{ form_label(form.user.phone) }}
                    {{ validate(form.user.phone, '') }}
                    {{ form_errors(form.user.phone) }}
                </div>
                <div class="input-field col s12">
                    {{ form_widget(form.user.gender) }}
                    {{ form_label(form.user.gender) }}
                    {{ form_errors(form.user.gender) }}
                </div>
            </div>
        </div>
        <div class="form__submit-button">
            {{ form_widget(form.user.save, {'attr': {'class': 'btn-large blue darken-3'} }) }}
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endmacro %}