{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h2 class="page-title center-align">
        {% trans %}Users{% endtrans %}
    </h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                {{ knp_pagination_sortable(users, '#▲▼', 'u.id') }}
            </th>
            <th scope="col">
                {{ knp_pagination_sortable(users, 'Name'|trans({}, 'messages') ~'▲▼', 'u.name') }}
            </th>
            <th scope="col">
                {{ knp_pagination_sortable(users, 'Surname'|trans({}, 'messages') ~'▲▼', 'u.surname') }}
            </th>
            <th scope="col">
                {{ knp_pagination_sortable(users, 'Username'|trans({}, 'messages') ~'▲▼', 'u.username') }}
            </th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <a href="{{ path('profile.view.user', {'user': user.id}) }}">
                        {% trans %}View{% endtrans %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block pager %}
    {% include 'helper/pager.html.twig' with { 'content': users } only %}
{% endblock %}