{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h2 class="center-align">
        {% trans %}Users{% endtrans %}
    </h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#{{ knp_pagination_sortable(users, '▲▼', 'u.id') }}</th>
            <th scope="col">{% trans %}Name{% endtrans %}{{ knp_pagination_sortable(users, '▲▼', 'u.name') }}</th>
            <th scope="col">{% trans %}Surname{% endtrans %}{{ knp_pagination_sortable(users, '▲▼', 'u.surname') }}</th>
            <th scope="col">{% trans %}Username{% endtrans %}{{ knp_pagination_sortable(users, '▲▼', 'u.username') }}</th>
        </tr>
        </thead>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>
                    <a href="{{ path('profile.view.user', {'user': user.id}) }}">
                        {{ user.username }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block pager %}
    {% include 'helper/pager.html.twig' with { 'content': users } only %}
{% endblock %}