{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}
        Profile
    {% endtrans %}
{% endblock %}

{% block body %}
    {% for message in app.flashes('edit_user') %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h2 class="page-title center-align">
        {% trans %}Profile{% endtrans %}
    </h2>
    <div class="row">
        {% if app.user is same as(user) %}
            <a class="btn--action btn blue darken-3" href="{{ path('profile.edit') }}">
        {% else %}
            <a class="btn--action btn blue darken-3" href="{{ path('profile.edit', {'user': user.id}) }}">
        {% endif %}
            {% trans %}Edit{% endtrans %}
            <i class="material-icons left">
                edit
            </i>
        </a>
    </div>
    {% if app.user is same as(user) %}
        <div class="row">
            <a class="btn--action btn blue darken-3" href="{{ path('profile.change_password') }}">
                {% trans %}Change password{% endtrans %}
                <i class="material-icons left">
                    vpn_key
                </i>
            </a>
        </div>
    {% endif %}
    <table class="table highlight">
        <thead>
        <tr>
            <th scope="col">
                {% trans %}Label{% endtrans %}
            </th>
            <th scope="col">
                {% trans %}Data{% endtrans %}
            </th>
        </tr>
        </thead>
        <tr>
            <td>{% trans %}Username{% endtrans %}</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>{% trans %}Email{% endtrans %}</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>{% trans %}Name{% endtrans %}</td>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <td>{% trans %}Surname{% endtrans %}</td>
            <td>{{ user.surname }}</td>
        </tr>
        <tr>
            <td>{% trans %}Birth date{% endtrans %}</td>
            <td>{{ user.birthdate|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <td>{% trans %}Region{% endtrans %}</td>
            <td>
                {% if user.region is not null %}
                    {{ user.region.title }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans %}Address{% endtrans %}</td>
            <td>{{ user.address }}</td>
        </tr>
        <tr>
            <td>{% trans %}Phone number{% endtrans %}</td>
            <td>{{ user.phone }}</td>
        </tr>
        <tr>
            <td>{% trans %}Roles{% endtrans %}</td>
            <td>{{ user.roles|join(', ') }}</td>
        </tr>
        <tr>
            <td>{% trans %}Registration date{% endtrans %}</td>
            <td>{{ user.registrationDate|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <td>{% trans %}Last access date{% endtrans %}</td>
            <td>{{ user.lastAccessDate|date('Y-m-d h:m') }}</td>
        </tr>
        <tr>
            {% if user.learningGroupsUserTeaches is not empty %}
                <td>{% trans %}Teacher in group(s){% endtrans %}:</td>
                <td>
                    {% for group in user.learningGroupsUserTeaches %}
                        <div>
                            <a href="{{ path('group.view', {'group': group.id }) }}">
                                Id: {{ group.id }}
                                {% trans %}Address{% endtrans %}: {{ group.address }}
                            </a>
                        </div>
                    {% endfor %}
                </td>
            {% endif %}
        </tr>
        <tr>
            {% if user.learningGroup is not empty %}
                <td>{% trans %}Studying in group{% endtrans %}:</td>
                <td>
                    {% trans %}Id{% endtrans %}: {{ user.learningGroup.id }}
                    {% trans %}Address{% endtrans %}: {{ user.learningGroup.address }}
                </td>
            {% endif %}
        </tr>
    </table>
{% endblock %}
