<div class="navbar-fixed">
    <nav class="nav-wrapper blue darken-3">
        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        {% if is_granted('ROLE_TEACHER') %}
            <ul class="left hide-on-med-and-down">
                <li class="{{ app.request.get('_route') == 'group.viewlist' ? 'active' }}">
                    <a href="{{ path('group.viewlist') }}">
                        {% trans %}Groups{% endtrans %}
                    </a>
                </li>
                <li class="{{ app.request.get('_route') == 'profile.participants' ? 'active' }}">
                    <a href="{{ path('profile.participants') }}">
                        {% trans %}Participants{% endtrans %}
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="{{ app.request.get('_route') == 'profile.teachers' ? 'active' }}">
                        <a href="{{ path('profile.staff') }}">
                            {% trans %}Staff{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                <li class="{{ app.request.get('_route') == 'report.schedule' ? 'active' }}">
                    <a href="{{ path('report.schedule') }}">
                        {% trans %}Schedule report{% endtrans %}
                    </a>
                </li>
                <li class="{{ app.request.get('_route') == 'report.participants' ? 'active' }}">
                    <a href="{{ path('report.participants') }}">
                        {% trans %}Participants report{% endtrans %}
                    </a>
                </li>
                <li class="{{ app.request.get('_route') == 'report.status' ? 'active' }}">
                    <a href="{{ path('report.status') }}">
                        {% trans %}Status report{% endtrans %}
                    </a>
                </li>
            </ul>
        {% endif %}
        <ul class="right hide-on-med-and-down">
            {% if app.user %}
                <li>
                    <a href="{{ path('profile.view') }}">
                        {% trans %}My Profile{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">
                        {% trans %}Logout{% endtrans %}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('login') }}">
                        {% trans %}Login{% endtrans %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
<ul class="sidenav" id="mobile-nav">
    {% if app.user %}
        <li class="{{ app.request.get('_route') == 'group.viewlist' ? 'active' }}">
            <a href="{{ path('group.viewlist') }}">
                {% trans %}Groups{% endtrans %}
            </a>
        </li>
        <li class="{{ app.request.get('_route') == 'profile.participants' ? 'active' }}">
            <a href="{{ path('profile.participants') }}">
                {% trans %}Participants{% endtrans %}
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="{{ app.request.get('_route') == 'profile.teachers' ? 'active' }}">
                <a href="{{ path('profile.staff') }}">
                    {% trans %}Staff{% endtrans %}
                </a>
            </li>
        {% endif %}
        <li class="{{ app.request.get('_route') == 'report.schedule' ? 'active' }}">
            <a href="{{ path('report.schedule') }}">
                {% trans %}Schedule report{% endtrans %}
            </a>
        </li>
        <li class="{{ app.request.get('_route') == 'report.participants' ? 'active' }}">
            <a href="{{ path('report.participants') }}">
                {% trans %}Participants report{% endtrans %}
            </a>
        </li>
        <li class="{{ app.request.get('_route') == 'report.status' ? 'active' }}">
            <a href="{{ path('report.status') }}">
                {% trans %}Status report{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('profile.view') }}">
                {% trans %}My Profile{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('logout') }}">
                {% trans %}Logout{% endtrans %}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('login') }}">
                {% trans %}Login{% endtrans %}
            </a>
        </li>
    {% endif %}
</ul>