{% import _self as formMacros %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% macro printParticipant(participant) %}
    <div class="participant" >
        {{ form_row(participant.name) }}
        {{ form_row(participant.surname) }}
        {{ form_row(participant.username, {'attr': {'class': 'participant__username'}}) }}
        <button class="participant__username-generate-button btn-secondary btn">Generate</button>
        {{ form_row(participant.password, {'attr': {'class': 'participant__password'}}) }}
        <button class="participant__password-generate-button btn-secondary btn">Generate</button>
        <div class="participant__additional">
            {{ form_row(participant.birthDate) }}
            {{ form_row(participant.address) }}
            {{ form_row(participant.email) }}
            {{ form_row(participant.phone) }}
            {{ form_row(participant.gender) }}
        </div>
        <button class="participant__toggle-additional-button btn-secondary btn" type="button">Toggle</button>
        <button class="participant__remove-button btn-secondary btn" type="button">Delete</button>
    </div>
{% endmacro %}


{% block body %}
    <div class="container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.address) }}
        <div class="participants" data-prototype="{{ formMacros.printParticipant(form.participants.vars.prototype)|e('html_attr') }}">
            {% for participant in form.participants %}
                {{ formMacros.printParticipant(participant) }}
            {% endfor %}
            <button class="participant__add-button btn-primary btn my-2" type="button">Add a participant</button>
        </div>
        {{ form_end(form, {'render_rest': true }) }}
    </div>
{% endblock %}
