{% from 'group/macros.html.twig' import printParticipant, printTimeSlot, validate %}
{% form_theme form 'group/form_errors.html.twig' %}

<div class="group-form form">
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="form__section">
        <h5 class="group-form__title">
            {% trans %}Information{% endtrans %}
        </h5>
        <div class="row">
            <div class="input-field col s12">
                {{ form_label(form.group.address) }}
                {{ validate(form.group.address, '') }}
                {{ form_errors(form.group.address) }}
            </div>
            <div class="input-field col s12">
                {{ form_widget(form.group.region,  {'attr': {'class': 'group-form__region browser-default'} }) }}
                {{ form_errors(form.group.region) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.group.teacher,  {'attr': {'class': 'group-form__teacher browser-default'} }) }}
                {{ form_errors(form.group.teacher) }}
            </div>
        </div>
    </div>
    <div class="form__section">
        <h5 class="group-form__title">
            {% trans %}Participants{% endtrans %}
        </h5>
        <div class="row">
            <div class="col s12 l6 group-form__import">
                <div class="row">
                    <div class="file-field input-field col l11 s12">
                        <div class="btn tooltipped blue lighten-1"
                             data-tooltip="{% trans %}Import participants{% endtrans %}"
                             data-position="left">
                            <i class="material-icons">
                                input
                            </i>
                            <input class="group-form__import__input" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="col l1 m-hide">
                        <i class="material-icons group-form__import__info tooltipped"
                           data-tooltip="{% trans %}Acceptable formats{% endtrans %} (csv, txt, xls, xlsx). Formatas:
                            <div class='group-form__import__info__photo'>
                                <img src='{{ asset('build/images/upload_info.6ef945e2.png') }}' alt='Uh oh!' />
                            </div>"
                           data-position="top"
                        >
                            info
                        </i>
                    </div>
                </div>
                <div class="group-form__import__error">
                    {% trans %}Acceptable formats{% endtrans %} (csv, txt, xls, xlsx)
                </div>
            </div>
            <div class="row col s12 l6 group-form__paste">
                <div class="input-field">
                    <div class="btn tooltipped blue lighten-1 group-form__paste__toggle-button"
                         data-tooltip="{% trans %}Paste participants{% endtrans %}"
                         data-position="right"
                    >
                        <i class="material-icons">
                            content_paste
                        </i>
                    </div>
                </div>
                <div class="input-field clearfix group-form__paste__section">
                    <textarea
                            class="group-form__paste__text"
                            placeholder="Formatas 'vardas pavardė'"
                    ></textarea>
                    <div class="group-form__paste__error">
                        <div class="group-form__paste__error--empty">
                            {% trans %}Field must not be empty{% endtrans %}
                        </div>
                        <div class="group-form__paste__error--format">
                            {% trans %}Bad format, should be 'name surname'{% endtrans %}
                        </div>
                    </div>
                    <div class="group-form__paste__submit-button btn blue lighten-1">
                        {% trans %}Add{% endtrans %}
                    </div>
                </div>
            </div>
        </div>
        <div class="participants" data-prototype="{{ printParticipant(form.participants.vars.prototype, true)|e('html_attr') }}">
            {% for participant in form.participants %}
                {% if id is defined %}
                    {{ printParticipant(participant, false) }}
                {% else %}
                    {{ printParticipant(participant, true) }}
                {% endif %}
            {% endfor %}
            <div class="group-form__empty">
                {% trans %}There are no participants yet{% endtrans %}
            </div>
        </div>
    </div>
    <div class="form__section">
        <h5 class="group-form__title">
            {% trans %}Time slots{% endtrans %}
        </h5>
        <div class="time-slots" data-prototype="{{ printTimeSlot(form.group.timeSlots.vars.prototype)|e('html_attr') }}">
            {% for timeSlot in form.group.timeSlots %}
                {{ printTimeSlot(timeSlot) }}
            {% endfor %}
            <div class="group-form__empty">
                {% trans %}There are no time slots yet{% endtrans %}
            </div>
        </div>
    </div>
    <div class="form__submit-button">
        {{ form_widget(form.group.save, {'attr': {'class': 'btn-large blue darken-3'} }) }}
    </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>