{% from 'group/macros.html.twig' import printParticipant, printTimeSlot, validate %}
{% form_theme form 'group/form_errors.html.twig' %}

<div class="group-form row">
    {{ form_start(form) }}
    <div class="group-form__section">
        <h5 class="group-form__title">
            {% trans %}Information{% endtrans %}
        </h5>
        <div class="row">
            <div class="input-field col s6">
                {{ form_label(form.address) }}
                {{ validate(form.address, '') }}
                {{ form_errors(form.address) }}
            </div>
            <div class="input-field col s6">
                {{ form_widget(form.teacher,  {'attr': {'class': 'group-form__teacher browser-default'} }) }}
                {{ form_errors(form.teacher) }}
            </div>
        </div>
    </div>
    <div class="group-form__section">
        <h5 class="group-form__title">
            {% trans %}Participants{% endtrans %}
        </h5>
        <div class="row">
            <div class="col s6">
                <div class="row group-form__import-row">
                    <div class="file-field input-field col s11">
                        <div class="btn tooltipped blue darken-3"
                             data-tooltip="{% trans %}Import participants{% endtrans %}"
                             data-position="left">
                            <i class="material-icons">
                                input
                            </i>
                            <input class="group-form__import" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="col s1">
                        <i class="material-icons group-form__import-info tooltipped"
                           data-tooltip="{% trans %}Acceptable formats{% endtrans %} (xml, csv, txt, ods, xls, xlsx).
                                            Formatas: 'vardas pavarde'"
                           data-position="top"
                        >
                            info
                        </i>
                    </div>
                </div>
                <div class="group-form__import-error">
                    {% trans %}Acceptable formats{% endtrans %} (xml, csv, txt, ods, xls, xlsx)
                </div>
            </div>
            <div class="row col s6">
                <div class="input-field">
                    <div class="btn tooltipped blue darken-3 group-form__upload-button group-form__paste-toggle"
                         data-tooltip="{% trans %}Paste participants{% endtrans %}"
                         data-position="right"
                    >
                        <i class="material-icons">
                            content_paste
                        </i>
                    </div>
                </div>
                <div class="input-field group-form__paste clearfix">
                <textarea
                        class="group-form__paste-text"
                        placeholder="Formatas 'vardas pavardė'"
                ></textarea>
                    <div class="group-form__paste-error">
                        <div class="group-form__paste-error__empty">
                            {% trans %}Field must not be empty{% endtrans %}
                        </div>
                        <div class="group-form__paste-error__format">
                            {% trans %}Bad format, should be 'name surname'{% endtrans %}
                        </div>
                    </div>
                    <div class="group-form__paste-submit btn blue darken-3">
                        {% trans %}Add{% endtrans %}
                    </div>
                </div>
            </div>
        </div>
        <div class="participants" data-prototype="{{ printParticipant(form.participants.vars.prototype)|e('html_attr') }}">
            {% for participant in form.participants %}
                {{ printParticipant(participant) }}
            {% endfor %}
            <div class="group-form__empty">
                {% trans %}There are no participants yet{% endtrans %}
            </div>
        </div>
    </div>
    <div class="group-form__section">
        <h5 class="group-form__title">
            {% trans %}Time slots{% endtrans %}
        </h5>
        <div class="time-slots" data-prototype="{{ printTimeSlot(form.timeSlots.vars.prototype)|e('html_attr') }}">
            {% for timeSlot in form.timeSlots %}
                {{ printTimeSlot(timeSlot) }}
            {% endfor %}
            <div class="group-form__empty">
                {% trans %}There are no time slots yet{% endtrans %}
            </div>
        </div>
    </div>
    <div class="group-form__submit-button-wrapper">
        {{ form_widget(form.save, {'attr': {'class': 'group-form__submit-button btn-large blue darken-3'} }) }}
    </div>
    {{ form_end(form) }}
</div>