<table class="table highlight">
    <thead>
    <tr>
        <th scope="col" class="s-hide">#</th>
        <th scope="col">
            {% trans %}Address{% endtrans %}
        </th>
        <th scope="col">
            {% trans %}Group period{% endtrans %}
        </th>
        <th scope="col" class="s-hide">
            {% trans %}Schedule{% endtrans %}
        </th>
    </tr>
    </thead>
    {% for group in groups %}
        <tr>
            <td class="s-hide">{{ group.id }}</td>
            <td>
                <a href="{{ path('group.view', {'group': group.id}) }}">
                    {{ group.address }}, {{ group.region.title }}
                </a>
            </td>
            <td>
                {{ group.startDate|date('Y-m-d') }} <br> {{ group.endDate|date('Y-m-d') }}
            </td>
            <td class="s-hide">
                {% set timeSlots = group.timeSlots %}
                {% for timeSlot in timeSlots %}
                    {% if timeSlot.date|date('Y-m-d') >= date('today')|date('Y-m-d') %}
                        <strong>{{ timeSlot.date|date('d') }} d. {{ timeSlot.startTime|date('H:i') }}</strong>
                    {% else %}
                        {{ timeSlot.date|date('d') }} d. {{ timeSlot.startTime|date('H:i') }}
                    {% endif %}
                    <br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

{% if groups|length == 0 %}
    <h6>{% trans %}You have no groups yet{% endtrans %}</h6>
{% endif %}