{% macro validate(name, class) %}
    {% if name.vars.valid %}
        {{ form_widget(name, {'attr': {'class': 'validate ' ~ class}}) }}
    {% else %}
        {{ form_widget(name, {'attr': {'class': 'validate input--invalid ' ~ class}}) }}
    {% endif %}
{% endmacro %}

{% macro additionalValidation(username, password, email, phone) %}
    {% if username.vars.valid and password.vars.valid and email.vars.valid and phone.vars.valid %}
        <div class="participant__additional">
    {% else %}
        <div class="participant__additional participant__additional--show">
    {% endif %}
{% endmacro %}

{% macro printParticipant(participant, display) %}
    {% from _self import validate, additionalValidation %}
    <div class="participant participant--active">
        <div class="row">
            <div class="participant__button s2 m1 col push-s10 push-m11">
                <i class="participant__button--remove material-icons">
                    close
                </i>
            </div>
            <div class="input-field col s12 pull-l1 l4">
                {{ form_label(participant.user.name) }}
                {{ validate(participant.user.name, 'participant__name') }}
                {{ form_errors(participant.user.name) }}
            </div>
            <div class="input-field col s12 pull-l1 l5">
                {{ form_label(participant.user.surname) }}
                {{ validate(participant.user.surname, 'participant__surname') }}
                {{ form_errors(participant.user.surname) }}
            </div>
            <div class="participant__button push-s2 pull-l1 s8 col l2">
                <button class="participant__button--toggle-additional blue lighten-1 btn hoverable" type="button">
                    Daugiau
                </button>
            </div>
        </div>
        {{
            additionalValidation(participant.user.username, participant.user.password,
                participant.user.email, participant.user.phone)
        }}
            <div class="row">
                {% if display == true or participant.user.password.vars.value == '' %}
                    <div class="input-field col s12 m6">
                        <div class="row">
                            {{ form_label(participant.user.username) }}
                            {{ validate(participant.user.username, 'participant__username') }}
                            {{ form_errors(participant.user.username) }}
                        </div>
                    </div>
                    <div class="input-field col s12 m6">
                        <div class="row">
                            <div class="col s10 participant__password-wrapper">
                                {{ form_label(participant.user.password) }}
                                {{ validate(participant.user.password, 'participant__password') }}
                                {{ form_errors(participant.user.password) }}
                            </div>
                            <div class="col s2 participant__button">
                                <i class="participant__button--generate-password material-icons">
                                    refresh
                                </i>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="input-field col s12">
                        <div class="row">
                            {{ form_label(participant.user.username) }}
                            {{ validate(participant.user.username, 'participant__username') }}
                            {{ form_errors(participant.user.username) }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    {{ form_widget(participant.user.region) }}
                    {{ form_label(participant.user.region) }}
                    {{ form_errors(participant.user.region) }}
                </div>
                <div class="input-field col s12 m6">
                    {{ form_widget(participant.user.livingAreaType) }}
                    {{ form_label(participant.user.livingAreaType) }}
                    {{ form_errors(participant.user.livingAreaType) }}
                </div>
                <div class="input-field col s12 m6">
                    {{ form_label(participant.user.address) }}
                    {{ form_widget(participant.user.address, {'attr': {'class': 'validate'}}) }}
                    {{ form_errors(participant.user.address) }}
                </div>
                <div class="input-field col s12 m6">
                    {{ form_label(participant.user.email) }}
                    {{ validate(participant.user.email, '') }}
                    {{ form_errors(participant.user.email) }}
                </div>
                <div class="input-field col s12 m4">
                    {{ form_label(participant.user.birthDate) }}
                    {{ form_widget(participant.user.birthDate, {'attr': {'class': 'validate datepicker'}}) }}
                    {{ form_errors(participant.user.birthDate) }}
                </div>
                <div class="input-field col s12 m4">
                    {{ form_label(participant.user.phone) }}
                    {{ validate(participant.user.phone, '') }}
                    {{ form_errors(participant.user.phone) }}
                </div>
                <div class="input-field col s12 m4">
                    {{ form_widget(participant.user.gender) }}
                    {{ form_label(participant.user.gender) }}
                    {{ form_errors(participant.user.gender) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro printTimeSlot(timeSlot) %}
    {% from _self import validate %}
    <div class="time-slot border-shadow border-shadow--no-x-padding">
        <div class="row">
            <div class="time-slot__button col push-s10 s2 m1 push-m11">
                <i class="time-slot__button--remove material-icons">
                    close
                </i>
            </div>
            <div class="input-field col s12 pull-l1 l5">
                {{ form_label(timeSlot.date) }}
                {{ validate(timeSlot.date, 'time-slot__date datepicker') }}
                {{ form_errors(timeSlot.date) }}
            </div>
            <div class="input-field col s12 pull-l1 l4">
                {{ form_label(timeSlot.startTime) }}
                {{ validate(timeSlot.startTime, 'time-slot__start-time timepicker') }}
                {{ form_errors(timeSlot.startTime) }}
            </div>
            <div class="input-field col s12 pull-l1 l2">
                {{ form_label(timeSlot.duration) }}
                {{ validate(timeSlot.duration, 'time-slot__duration') }}
                {{ form_errors(timeSlot.duration) }}
            </div>
        </div>
    </div>
{% endmacro %}