{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Group participants{% endtrans %}
{% endblock %}

{% block body %}
    {% for message in app.flashes('create_group') %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h2 class="page-title center-align">
        {% trans %}Group participants{% endtrans %}
    </h2>
    <div class="form">
        <div class="alert alert--danger">
            {% trans %}
                Alert! Make sure you print or write down users with their passwords because later you wont be able to see them
            {% endtrans %}
        </div>
        <a class="btn right blue lighten-1" href="{{ path('group.viewlist') }}">
            {% trans %}Finish{% endtrans %}
        </a>
        <table class="responsive-table" id="form__table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans %}Name{% endtrans %}</th>
                <th scope="col">{% trans %}Surname{% endtrans %}</th>
                <th scope="col">{% trans %}Username{% endtrans %}</th>
                <th scope="col">{% trans %}Password{% endtrans %}</th>
            </tr>
            </thead>
            {% for participant in participants %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.surname }}</td>
                    <td>{{ participant.username }}</td>
                    <td>{{ participant.password }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="form__submit-button">
            <button class="btn-large blue darken-3 form__print">
                <i class="material-icons left">
                    print
                </i>
                {% trans %}Print{% endtrans %}
            </button>
        </div>
    </div>
{% endblock %}
