{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Group{% endtrans %}
{% endblock %}

{% block body %}
    {% for message in app.flashes('edit_group') %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h2 class="page-title center-align">
        {% trans %}Group{% endtrans %}
    </h2>
    <div class="row">
        <a class="btn blue darken-3" href="{{ path('group.edit', {'group': group.id}) }}">
            {% trans %}Edit{% endtrans %}
            <i class="material-icons left">
                edit
            </i>
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn--action btn right red darken-3" href="{{ path('group.remove', {'group': group.id}) }}">
                <i class="material-icons right">
                    delete
                </i>
                {% trans %}Remove{% endtrans %}
            </a>
        {% endif %}
    </div>
    <h4>{% trans %}Information{% endtrans %}</h4>
    <table class="table highlight">
        <thead>
        <tr>
            <th scope="col">{% trans %}Address{% endtrans %}</th>
        </tr>
        </thead>
        <tr>
            <td>{{ group.address }}</td>
        </tr>
    </table>
    <h4>{% trans %}Time slots{% endtrans %}</h4>
    {% if group.timeslots|length == 0 %}
        <p>{% trans %}There are no time slots yet{% endtrans %}</p>
    {% else %}
        <table class="responsive-table highlight">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans %}Date{% endtrans %}</th>
                <th scope="col">{% trans %}Start time{% endtrans %}</th>
                <th scope="col">{% trans %}Duration (minutes){% endtrans %}</th>
            </tr>
            </thead>
            {% for timeSlot in group.timeslots %}
                <tr>
                    <td scope="row">{{ loop.index }}</td>
                    <td>{{ timeSlot.date }}</td>
                    <td>{{ timeSlot.startTime }}</td>
                    <td>{{ timeSlot.duration }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <h4>{% trans %}Participants{% endtrans %}</h4>
    {% if group.participants|length == 0 %}
        <p>{% trans %}There are no participants yet{% endtrans %}</p>
    {% else %}
        <table class="table highlight">
            <thead>
            <tr>
                <th scope="col" class="s-hide">#</th>
                <th scope="col">{% trans %}Name{% endtrans %}</th>
                <th scope="col">{% trans %}Surname{% endtrans %}</th>
                <th scope="col" class="m-hide">{% trans %}Username{% endtrans %}</th>
                <th scope="col" class="m-hide">{% trans %}Birth date{% endtrans %}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            {% for participant in group.participants %}
                <tr>
                    <td scope="row" class="s-hide">{{ loop.index }}</td>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.surname }}</td>
                    <td class="m-hide">{{ participant.username }}</td>
                    <td class="m-hide">{{ participant.birth_date }}</td>
                    <td>
                        <a href="{{ path('profile.view.user', {'user': participant.id}) }}">
                            {% trans %}View{% endtrans %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
