{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Groups{% endtrans %}
{% endblock %}

{% block body %}
    {% for message in app.flashes('create_group') %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h2 class="page-title center-align">
        {% trans %}Groups list{% endtrans %}
    </h2>
    <a class="blue darken-3 hoverable add-button pulse" href="{{ path('group.create') }}">
        <i class="add-button__icon material-icons">
            add
        </i>
    </a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ knp_pagination_sortable(groups, '#▲▼', 'gr.id') }}</th>
            <th scope="col">{{ knp_pagination_sortable(groups, 'Address'|trans({}, 'messages') ~'▲▼', 'gr.id') }}</th>
            <th scope="col">{{ knp_pagination_sortable(groups, 'Start date'|trans({}, 'messages') ~'▲▼', 'gr.startDate') }}</th>
            <th scope="col">{{ knp_pagination_sortable(groups, 'End date'|trans({}, 'messages') ~'▲▼', 'gr.endDate') }}</th>
            <th scope="col">{% trans %}Participants{% endtrans %}</th>
        </tr>
        </thead>
        {% for group in groups %}
            <tr>
                <td scope="row">{{ group.id }}</td>
                <td>
                    <a href="{{ path('group.view', {'group': group.id}) }}">
                        {{ group.address }}
                    </a>
                </td>
                <td>
                    {{ group.startDate ? group.startDate|date('Y-m-d') }}
                </td>
                <td>
                    {{ group.endDate ? group.endDate|date('Y-m-d') }}
                </td>
                <td>
                    {{ group.participants|length }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block pager %}
    {% include 'helper/pager.html.twig' with { 'content': groups } only %}
{% endblock %}