{% extends 'base.html.twig' %}


{% block title %}
    {% trans %}Participants report{% endtrans %}
{% endblock %}

{% block body %}
    <h2 class="center-align">
        {% trans %}Participants report{% endtrans %}
    </h2>
    <div class="page-actions">
        <a class="btn--action btn blue darken-3 report-filter-toggle-button">
            {% trans %}Filter{% endtrans %}
        </a>
        <form class="border-shadow report-filter" action={{ path('report.participants') }}>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input type="text" id="dateFrom" class="datepicker" autocomplete="off" name="dateFrom" class="form-control" value={{ dateFrom|date('Y-m-d') }}>
                        <label for="dateFrom">{% trans %}Start{% endtrans %}</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field">
                        <input type="text" id="dateTo" class="datepicker" autocomplete="off"  name="dateTo" class="form-control" value={{ dateTo|date('Y-m-d') }}>
                        <label for="dateTo">{% trans %}End{% endtrans %}</label>
                    </div>
                </div>
                <div class="col s12">
                    <button class="btn blue darken-3 report__button" type="submit" name="submit_button">
                        {% trans %}Display{% endtrans %}
                    </button>
                    <button class="btn blue darken-3 report__button right s-float-none" type="submit" name="submit_button">
                        {% trans %}Export{% endtrans %}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <h5 class="report__count">{% trans %}Records{% endtrans %} : {{ results.totalItemCount }}</h5>
    <div class="border-shadow">
        {% if results|length %}
            <table class="highlight table">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Surname{% endtrans %}</th>
                    <th class="l-hide">{% trans %}Birth date{% endtrans %}</th>
                    <th class="m-hide">{% trans %}Region/city{% endtrans %}</th>
                    <th class="m-hide">{% trans %}Address{% endtrans %}</th>
                    <th class="l-hide">{% trans %}Phone number{% endtrans %}</th>
                    <th class="s-hide">{% trans %}Course start date{% endtrans %}</th>
                    <th class="s-hide">{% trans %}Course end date{% endtrans %}</th>
                    <th>{% trans %}Group Id{% endtrans %}</th>
                </tr>
                {% for result in results %}
                    <tr>
                        <td>{{ result.name }}</td>
                        <td>{{ result.surname }}</td>
                        <td class="l-hide">{{ result.birthDate ? result.birthDate|date('Y-m-d') }}</td>
                        <td class="m-hide">{{ result.region ? result.region.title }}</td>
                        <td class="m-hide">{{ result.address }}</td>
                        <td class="l-hide">{{ result.phone }}</td>
                        <td class="s-hide">{{ result.learningGroup.startDate ? result.learningGroup.startDate|date('Y-m-d') }}</td>
                        <td class="s-hide">{{ result.learningGroup.endDate ? result.learningGroup.endDate|date('Y-m-d') }}</td>
                        <td>{{ result.learningGroup.id }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h6>{% trans %}No participant finishing in this period found{% endtrans %}</h6>
        {% endif %}
    </div>
{% endblock %}
{% block pager %}
    {% include 'helper/pager.html.twig' with { 'content': results } only %}
{% endblock %}
