{% extends 'base.html.twig' %}


{% block title %}
    {% trans %}Participants report{% endtrans %}
{% endblock %}

{% block body %}
    <h2 class="center-align">
        {% trans %}Participants report{% endtrans %}
    </h2>
    <form class="border-shadow" action={{ path('report.participants') }}>
        <div class="input-field">
            <input type="text" class="datepicker" name="dateFrom" class="form-control" value={{ dateFrom|date('Y-m-d') }}>
        </div>
        <div class="input-field">
            <input type="text" class="datepicker" name="dateTo" class="form-control" value={{ dateTo|date('Y-m-d') }}>
        </div>
        <div class="row">
            <button class="btn blue darken-3 report__button" type="submit" name="submit_button">
                {% trans %}Display{% endtrans %}
            </button>
            <button class="btn blue darken-3 report__button right s-float-none" type="submit" name="submit_button">
                {% trans %}Export{% endtrans %}
            </button>
        </div>
    </form>
    <div class="border-shadow">
        {% if results|length %}
            <h6>{% trans %}Records{% endtrans %} : {{ results.totalItemCount }}</h6>
            <table>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Surname{% endtrans %}</th>
                    <th>{% trans %}Birth date{% endtrans %}</th>
                    <th>{% trans %}Region/city{% endtrans %}</th>
                    <th>{% trans %}Living area type{% endtrans %}</th>
                    <th>{% trans %}Address{% endtrans %}</th>
                    <th>{% trans %}Phone number{% endtrans %}</th>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}Gender{% endtrans %}</th>
                    <th>{% trans %}Course start date{% endtrans %}</th>
                    <th>{% trans %}Course end date{% endtrans %}</th>
                    <th>{% trans %}Group Id{% endtrans %}</th>
                </tr>
                {% for result in results %}
                    <tr>
                        <td>{{ result.name }}</td>
                        <td>{{ result.surname }}</td>
                        <td>{{ result.birthDate ? result.birthDate|date('Y-m-d') }}</td>
                        <td>{{ result.region.title ? result.region.title }}</td>
                        <td>{{ result.livingAreaType }}</td>
                        <td>{{ result.address }}</td>
                        <td>{{ result.phone }}</td>
                        <td>{{ result.email }}</td>
                        <td>{{ result.gender }}</td>
                        <td>{{ result.learningGroup.startDate ? result.learningGroup.startDate|date('Y-m-d') }}</td>
                        <td>{{ result.learningGroup.endDate ? result.learningGroup.endDate|date('Y-m-d') }}</td>
                        <td>{{ result.learningGroup.id }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h6>{% trans %}Sorry, nothing found. Try to change a period. Take into account only ending in the period groups are shown.{% endtrans %}</h6>
        {% endif %}
    </div>
{% endblock %}
{% block pager %}
    {% include 'helper/pager.html.twig' with { 'content': results } only %}
{% endblock %}
