{% extends 'base.html.twig' %}


{% block title %}Report view{% endblock %}

{% block body %}
    <h2 class="center-align">
        {% trans %}Schedule report{% endtrans %}
    </h2>
    <div class="page-actions">
        <a class="btn--action btn blue darken-3 report-filter-toggle-button">
            {% trans %}Filter{% endtrans %}
        </a>
        <form class="border-shadow report-filter" action={{ path('report.schedule') }}>
            <div class="row">
                <div class="input-field col s12">
                    <select multiple name="regionId[]">
                        <option value="" disabled>{% trans %}Choose a region{% endtrans %}</option>
                        {% for region in regions %}
                            {% if region.id in selectedRegions %}
                                <option selected value='{{ region.id }}'>{{ region.title }}</option>
                            {% else %}
                                <option value='{{ region.id }}'>{{ region.title }}</option>
                            {% endif %}
                        {%  endfor %}
                    </select>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="dateFrom" class="datepicker" autocomplete="off" name="dateFrom" value={{ dateFrom|date('Y-m-d') }}>
                    <label for="dateFrom">{% trans %}Start{% endtrans %}</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="dateTo" class="datepicker" autocomplete="off" name="dateTo" value={{ dateTo|date('Y-m-d') }}>
                    <label for="dateTo">{% trans %}End{% endtrans %}</label>
                </div>
                <div class="col s12">
                    <button class="btn blue darken-3 report__button" type="submit" name="submit_button" value="display">
                        {% trans %}Display{% endtrans %}
                    </button>
                    <button class="btn blue darken-3 report__button right s-float-none" type="submit" name="submit_button" value="export">
                        {% trans %}Export{% endtrans %}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <h5 class="report__count">{% trans %}Records{% endtrans %} : {{ results.totalItemCount }}</h5>
    <div class="border-shadow">
        {% if results|length %}
            <table class="highlight table">
                <tr>
                    <th>{% trans %}Group Id{% endtrans %}</th>
                    <th class="s-hide">{% trans %}Region{% endtrans %}</th>
                    <th class="s-hide">{% trans %}Address{% endtrans %}</th>
                    <th>{% trans %}Start{% endtrans %}</th>
                    <th class="s-hide">{% trans %}Duration{% endtrans %}</th>
                    <th class="s-hide">{% trans %}Participants count{% endtrans %}</th>
                </tr>
                {% for result in results %}
                    <tr>
                        <td>{{ result.learningGroup.id }}</td>
                        <td class="s-hide">{{ result.learningGroup.region.title }}</td>
                        <td class="s-hide">{{ result.learningGroup.address }}</td>
                        <td>{{ result.date ? result.date|date('Y-m-d') }} {{ result.startTime ? result.startTime }}</td>
                        <td class="s-hide">{{ result.duration }}</td>
                        <td class="s-hide">{{ result.learningGroup.participants|length }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h6>{% trans %}Sorry, nothing found. Try to change a filter criteria.{% endtrans %}</h6>
        {% endif %}
    </div>
{% endblock %}
{% block pager %}
    {% include 'helper/pager.html.twig' with { 'content': results } only %}
{% endblock %}
