{% extends 'base.html.twig' %}


{% block title %}Report view{% endblock %}

{% block body %}
    <h2 class="center-align">
        {% trans %}Schedule report{% endtrans %}
    </h2>

    <form action={{ path('report.schedule') }}>
        <input type="date" name="dateFrom" class="form-control" value={{ dateFrom|date('Y-m-d') }} >
        <input type="date" name="dateTo" class="form-control" value={{ dateTo|date('Y-m-d') }} >

        <button type="submit" name="submit_button" value="display">{% trans %}Display{% endtrans %}</button>
        <button type="submit" name="submit_button" value="export">{% trans %}Export{% endtrans %} </button>
    </form>
    
    {% if results|length %}
        <h6>{% trans %}Records{% endtrans %} : {{ results.totalItemCount }}</h6>
        {% else %}
        <h6>{% trans %}Sorry, nothing found. Try to change a period.{% endtrans %}</h6>
    {% endif %}
   
    <table>
        <tr>
            <th>{% trans %}Address{% endtrans %}</th>
            <th>{% trans %}Start{% endtrans %}</th>
            <th>{% trans %}Duration{% endtrans %}</th>
            <th>{% trans %}Participants count{% endtrans %}</th>
            <th>{% trans %}Group Id{% endtrans %}</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.learningGroup.address }}</td>
                <td>{{ result.date ? result.date|date('Y-m-d') }}</td>
                <td>{{ result.startTime ? result.startTime }}</td>
                <td>{{ result.learningGroup.participants|length }}</td>
                <td>{{ result.learningGroup.id }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block pager %}
    {% include 'helper/pager.html.twig' with { 'content': results } only %}
{% endblock %}
