{% extends 'base.html.twig' %}


{% block title %}Report view{% endblock %}

{% block body %}
    <h2 class="center-align">
        {% trans %}Schedule report{% endtrans %}
    </h2>
    <form class="border-shadow" action={{ path('report.schedule') }}>
        <div class="input-field">
            <select multiple name="regionId[]">
                <option value="" disabled>{% trans %}Choose a region{% endtrans %}</option>
                {% for region in regions %}
                    {% if region.id in selectedRegions %}
                        <option selected value='{{ region.id }}'>{{ region.title }}</option>
                    {% else %}
                        <option value='{{ region.id }}'>{{ region.title }}</option>
                    {% endif %}

                {%  endfor %}
            </select>
        </div>
        <div class="input-field">
            <input type="text" class="datepicker" name="dateFrom" value={{ dateFrom|date('Y-m-d') }}>
        </div>
        <div class="input-field">
            <input type="text" class="datepicker" name="dateTo" value={{ dateTo|date('Y-m-d') }}>
        </div>
        <div class="row">
            <button class="btn blue darken-3 report__button" type="submit" name="submit_button">
                {% trans %}Display{% endtrans %}
            </button>
            <button class="btn blue darken-3 report__button right s-float-none" type="submit" name="submit_button">
                {% trans %}Export{% endtrans %}
            </button>
        </div>
    </form>
    <div class="border-shadow">
        {% if results|length %}
            <h6>{% trans %}Records{% endtrans %} : {{ results.totalItemCount }}</h6>
            <table class="highlight table">
                <tr>
                    <th>{% trans %}Region{% endtrans %}</th>
                    <th>{% trans %}Address{% endtrans %}</th>
                    <th>{% trans %}Start{% endtrans %}</th>
                    <th class="s-hide">{% trans %}Duration{% endtrans %}</th>
                    <th class="s-hide">{% trans %}Participants count{% endtrans %}</th>
                    <th class="s-hide">{% trans %}Group Id{% endtrans %}</th>
                </tr>
                {% for result in results %}
                    <tr>
                        <td>{{ result.learningGroup.region.title }}</td>
                        <td>{{ result.learningGroup.address }}</td>
                        <td>{{ result.date ? result.date|date('Y-m-d') }} {{ result.startTime ? result.startTime }}</td>
                        <td class="s-hide">{{ result.duration }}</td>
                        <td class="s-hide">{{ result.learningGroup.participants|length }}</td>
                        <td class="s-hide">{{ result.learningGroup.id }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h6>{% trans %}Sorry, nothing found. Try to change a filter criteria.{% endtrans %}</h6>
        {% endif %}
    </div>
{% endblock %}
{% block pager %}
    {% include 'helper/pager.html.twig' with { 'content': results } only %}
{% endblock %}
