{% extends 'base.html.twig' %}


{% block title %}Project status{% endblock %}

{% block body %}
  <h2>{% trans %}Project status report{% endtrans %}</h2>

    <pre>
    <h5>
  Bendrai apmokyta: {{ result.allParticipantsCount }}
  Probleminėse teritorijose: {{ result.inProblematicRegionsTotal }}
      {% for region in result.inProblematicRegions %}
        {{ region.title }} : {{ region.participantsCount }}
      {% endfor %}

  Vyresni nei 45: {{ result.olderThan45 }}
  Kaimo vietovėse: {{ result.olderThan45InCountrySide }}
  Moterų: {{ result.olderThan45Woman }}
    </h5>
    </pre>
  </div>

{% endblock %}




