{% extends 'base.html.twig' %}


{% block title %}Project status{% endblock %}

{% block body %}
  <h2>{% trans %}Project status report{% endtrans %}</h2>

  <div>
      Bendrai apmokyta:		{{ result.allParticipantsCount }}

      Probleminėse teritorijose:		{{ result.appParticipantsInProblematicRegions }}

      {% for region in result.problematicRegions %}
        {{ region.title }} : {{ region.participantsCount }}
      {% endfor %}

      Vyresni nei 45 m.:		{{ result.olderThan45 }}
      Iš jų:
      kaimo vietovėse:	{{ result.olderThan45InCountrySide }}
      moterų:	{{ result.olderThan45Woman }}

  </div>

{% endblock %}




